body{
    background-color: #212529;
}
.inicio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.sairAPI{
    margin-top: 40px;
    margin-left: 20px;
}

.inputAPI {
    width: 230px;
    height: 50px;
    margin-Bottom: 5px;
    padding: 10px;
    border-Radius: 999px;
    border: 2px solid white;
    transition: all 2;
    scale: 1.2;
    transition: all 250ms ease-in-out;
    background-color: transparent;
    font-size: 12px;
    text-align: center;
    color: white;
}

.inputAPI:hover{
    scale: 1.3;
    border: 2px solid rgb(255, 255, 255);
}
.wrapCardsRow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }